*{
    margin: 0;
    padding: 0;
}

.container{
    background: url(RESİMLER/anayüz.jpg);
    height: 100vh;
    background-size: 100% 100%;
}
.container .navbar{
    width: 100%;
    height: 80px;
    background:rgb(115, 226, 103);
    display: flex;               
    align-items: center;         
    justify-content: space-between;
    padding: 0 10px;
}

.navbar .logo{
    display: flex;
    align-items: center;  
    padding-left: 20px; 
}

.navbar .banner{
   width: 90px;
    height: auto;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;

}
.navbar ul li a{
    color:rgb(71, 3, 3);
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    transition: .5s;
}

.navbar ul li a.active,
.navbar ul li a:hover{
    background: rgb(39, 205, 18);
    border-radius: 2px;
}

.container .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
    width:80%;
    max-width: 1000px;
}
.right h3{
    color:rgb(13, 78, 19);
    font-size: 60px;
    font-weight: bold;
    text-align:right;
    margin: auto;
    margin-top: 190px;
    margin-right: 55px;
}
.right p{
    color:rgb(23, 137, 47);
    font-size: 40px;
    font-weight: bold;
    text-align:right;
    margin:auto;
    margin-top: 10px;
    margin-right: 75px;
}
.right .buttons{
    margin: auto;
    margin-left: 67%;
    margin-bottom: 200px;
    
        
}

.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    color:rgb(0, 0, 0);
    background-color:rgb(106, 244, 111) ;
    border: solid 1px rgba(23, 0, 112, 0.977);
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    transition:.5s;
    
}

.buttons button:hover{
    background: #fff;
}